annie {
    .annieClass {
    background-color: lightblue;
    //color: white;
    text-align: center;
    white-space:normal;
    // .annie1{
    //     color: white;
    //     font-family: 'aeriel';
    //     font-size: 50px;
    //     font-stretch: 15px;
    // }
    }
}